.left_nav{width:20%;}
.right_info{width:78%;margin-left:22%; background-color:#E6E6E8;}
.river{width:100% ;height: 10px; border-top: #666 solid 1px; border-bottom:#666 solid 1px;}
body{margin-top:0px;}
