<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>最新动态</title>
<style>
.{padding:0;margin:0;}
#catlog2{font-size:28px; font-weight:800; float:left;}
#catlog2 li{ height:25px; width:120px; float:left ; margin-top:0px; margin-right:3px;list-style:none;}
#catlog2 li a{border:dotted 2px #0099FF;}
#contend{width: 552px; background-image:url(img/550x440.png);height:442px; }
#challenge{display:none;}
#contest{display:none;}
#rank{display:none;}
</style>
<script>
       
</script>
</head>
<div id="contend">
    <div id="news">
        <ul>
           <li><a>xxxxxxxxxxxxxxx</a></li>
           <li><a>xxxxxxxxxxxxxxx</a></li>
           <li><a>xxxxxxxxxxxxxxxx</a></li>
           <li><a>xxxxxxxxx</a></li>
           <li><a>xxxxxxxxxxxxxxxxxxxx</a></li>
           <li><a>xxxxxxxxxxxxxxxxxxx</a></li>
           <li><a>xxxxxxxxxxxxxxxxxxxxxx</a></li>
           <li><a>xxxxxxxxxxxxxxxxxxxxxx</a></li>
           <li><a>xxxxxxxxxxxxxxxxxxxxx</a></li>
           <li><a>xxxxxxxxxxxxxxxxxx</a></li>
           <li><a>xxxxxxxxxxxxxxxxxxxx</a></li>
           <li><a>xxxxxxxxxxxxxxxxxxxx</a></li>
           <li><a>xxxxxxxxxxxxxxxxxxxx</a></li>
           <li><a>xxxxxxxxxxxxxxxxxxxx</a></li>
           <li><a>xxxxxxxxxxxxxxxxxxxxxxx</a></li>
           <li><a>xxxxxxxxxxxxxxxxxxxx</a></li>
           <li><a>xxxxxxxxxxxxxxxxxxxx</a></li>
           <li><a>xxxxxxxxxxxxxxxxxxxx</a></li>
           <li><a>xxxxxxxxxxxxxxxxxxxx</a></li>
           <li><a>xxxxxxxxxxxxxxxxxxxxxxx</a></li>
        </ul>
    </div>
    <div id="challenge">
        <ul>
           <li><a>yyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</a></li>
           <li><a>yyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</a></li>
           <li><a>yyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</a></li>
           <li><a>yyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</a></li>
           <li><a>yyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</a></li>
           <li><a>yyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</a></li>
           <li><a>yyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</a></li>
           <li><a>yyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</a></li>
           <li><a>yyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</a></li>
           <li><a>yyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</a></li>
           <li><a>yyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</a></li>
           <li><a>yyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</a></li>
           <li><a>yyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</a></li>
           <li><a>yyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</a></li>
           <li><a>yyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</a></li>
           <li><a>yyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</a></li>
        </ul>
    </div>
    <div id="contest">
        <ul>
           <li><a>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</a></li>
           <li><a>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</a></li>
           <li><a>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</a></li>
           <li><a>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</a></li>
           <li><a>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</a></li>
           <li><a>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</a></li>
           <li><a>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</a></li>
           <li><a>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</a></li>
           <li><a>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</a></li>
           <li><a>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</a></li>
           <li><a>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</a></li>
           <li><a>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</a></li>
           <li><a>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</a></li>
           <li><a>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</a></li>
           <li><a>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</a></li>
           
        </ul>
    </div>
    <div id="rank">
        <ul>
           <li><a>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</a></li>
           <li><a>wwwwwwwwwwwwwwwwwwwwwwww</a></li>
           <li><a>wwwwwwwwwwwwwwwwwwwwwwwwwwww</a></li>
           <li><a>wwwwwwwwwwwwwwwwwwwwwwwwwwwww</a></li>
           <li><a>wwwwwwwwwwwwww</a></li>
           <li><a>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</a></li>
           <li><a>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</a></li>
           <li><a>wwwwwwwwwwwwww</a></li>
           <li><a>wwwwwwwwwwwwwwwwwwwwwwwwwwwww</a></li>
           <li><a>wwwwwwwwwwwwwwwwwwwwwwwwwww</a></li>
           <li><a>wwwwwwwwwwwwwwwwwwwwwwwwwwww</a></li>
           <li><a>wwwwwwwwwwwwwwwwwwwwwwwwwwww</a></li>
           <li><a>wwwwwwwwwwwwwwwwwwwwwwwwwwww</a></li>
           <li><a>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</a></li>
           <li><a>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</a></li>
           
        </ul>
    </div>
</div>
<div id="catlog2">
  <ul>
     <li ><a id="newnews" onmouseover="mouseover1()" >每日作业</a></li>
     <li><a id="newchallenge" onmouseover="mouseover2()" >新题抢先</a></li>
     <li><a id="newcontest" onmouseover="mouseover3()" >拓展提高</a></li>
     <li><a id="newrank" onmouseover="mouseover4()" >冲击榜单</a></li>
  </ul>
</div>
<script>
   var getover=document.getElementById("newnews");
   var getshow="news";
   function mouseover1(){
	        document.getElementById(getshow).style.display="none";
			getshow="news";
			document.getElementById(getshow).style.display="block";
	        getover.style.backgroundColor="#E6E6E6";
			getover=document.getElementById("newnews");
			getover.style.backgroundColor="#C06";
	   }
	   function mouseover2(){
		    document.getElementById(getshow).style.display="none";
			getshow="challenge";
			document.getElementById(getshow).style.display="block";
	        getover.style.backgroundColor="#E6E6E6";
			getover=document.getElementById("newchallenge");
			getover.style.backgroundColor="#C06";
	   }
	   function mouseover3(){
		document.getElementById(getshow).style.display="none";
			getshow="contest";
			document.getElementById(getshow).style.display="block";
	        getover.style.backgroundColor="#E6E6E6";
			getover=document.getElementById("newcontest");
			getover.style.backgroundColor="#C06";
	   }
	   function mouseover4(){
		 document.getElementById(getshow).style.display="none";
			getshow="rank";
			document.getElementById(getshow).style.display="block";
	        getover.style.backgroundColor="#E6E6E6";
			getover=document.getElementById("newrank");
			getover.style.backgroundColor="#C06";
	   }
</script>

</html>
