	<div id=footer style="text-align:center;">
    <table class="table table-bordered">
     <thead>
     	<th>
        	<ul>
            	合作单位：
            	<li><a href="#">西北大学信息科学与技术学院</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </th>
        <th>
        	<ul>
            	制作人员：
                <li>项目计划及前端开发：<a href="#">舒经纬</a></li>
                <li>后端开发数据库设计：<a href="#">孙自立</a></li>
                <li>交互设计及美工支持：<a href="#">马思远</a></li>
                <li>数据库设计后端脚本：<a href="#">宋怡松</a></li>
                <li>网站测试与功能设计：<a href="#">秦章南</a></li>
                
            </ul>
        </th>
        <th>
        	<ul>
            	特别感谢：
                <li>指导老师：<a href="#">秦宝生</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </th>
     </thead>
    </table>
